body {
  background:white;
  font-family: 'Itim', cursive;
}
header {
  display: flex;
  justify-content:center;
  img {
    width: 200px;
    margin-top: 50px;
  }
}
.selection {
  display: flex;
  justify-content: center;
  gap: 1 em;
  margin-top: 5%;
  input {
    padding:10px 15px;
    border:none;
    border-radius:5px;
    min-width: 400px;
    outline:none;
    font-size: 18px;
    position: relative;
    z-index:1;
  }
  button {
    background:white;
    color:blueviolet;
    padding: 15px 25px;
    border-radius:8px;
    cursor:pointer;
    font-size: 18px;
    margin-left: 10px;
    border:1px solid blueviolet;
    position: relative;
    left:-15px;
    transition:.3s all ease-in-out;
    &:hover {
      background:darken(blueviolet, 10%);
    }
  }
}
h1 {
  font-size: 20px;
  font-weight: normal;
  color:#fff;
  text-align: center;
}
.wrapper {
  margin:100px auto;
  img {
    overflow: hidden;
    object-fit: cover;
    height: 300px;
  }
}
.swiper {
  width: 100%;
  color:#fff;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items:center;
}
.wrapper-series{
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
 row-gap: 3em;
 column-gap: 1em;
 margin-left: 50px;
}